<mat-toolbar class="m-b-10" mat-dialog-title color="primary">
  <mat-toolbar-row>
    <h2>Delete Confirmation</h2>
  </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content>
  <div fxLayout="row wrap" fxLayoutAlign="space-between center">
    Are you sure you want to delete this product?
  </div>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end center">
  <button mat-raised-button mat-dialog-close color="accent">Cancel</button>
  <button mat-raised-button (click)="dialogRef.close(true)" class="m-l-20" color="primary" type="button">Confirm</button>
</mat-dialog-actions>
