.mat-dialog-title {
  width: 100% !important;
}

.mat-dialog-content {
  margin: 0 !important;
  max-width: 100% !important;
  overflow-y: auto !important;
  padding: 10px !important;
}

.mat-dialog-actions {
  padding-bottom: 15px !important;
}

.w-100 {
  width: 100%;
}

.matPrefix {
  padding-top: -5px;
}

.m-b-2 {
  margin-bottom: 2px;;
}

.m-l-20 {
  margin-left: 20px;
}
